<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="Services" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="ApplicationSettings">
      <section name="Default" type="System.Configuration.NameValueSectionHandler"/>
      <!--<section name="LotTrack" type="System.Configuration.NameValueSectionHandler"/>-->
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\LookupDuplicateSpecChannel.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Program Start] &#xD;&#xA;" />
        <footer value="[Program End]&#xD;&#xA;" />
        <conversionPattern value="%date [%-5level]-%message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <ApplicationSettings>
    <Default>
      <add key="MaxQueue" value="40"/>
      <add key="MinRequiredSvc" value="12"></add>
      <add key="Percentage" value="50"></add>
    </Default>
    <LotTrack>
      <add key="MaxQueue" value="100"/>
      <add key="MinRequiredSvc" value="200"></add>
    </LotTrack>
  </ApplicationSettings>
  <Services>
    <add key="LotInfo" value="/MTI/MFG/MESTRK/PROD/SERVER/LotInfo" />
  </Services>
  <appSettings>
    <add key="Username" value ="feasoftware"/>
    <add key="NotifyFrom" value="TAMES@micron.com" />
    <add key="NotifyTo" value="ohung@micron.com" />
    <add key="MailSubject" value="Queue Monitor Aler!" />
    <add key="PromanContainer" value="fe_servers_taichung" />
    <!--Config action while queue high-->
    <add key="DefaultAction" value="Restart"/>
    <add key="Stop" value="" />
    <add key="Failover" value=""/>
    <add key="StopUnsubscribe" value="LotInfo"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
